@media only screen and (min-width: 32.5em) and (max-width: 64em) {

    main {
        grid-template-columns: 50% 50%;
    }

    .first {
        margin: 10px;
    }

    .second {
        grid-column: 2;
        margin: 10px;
    }

    .third {
        grid-column: 1/3;
        margin: 10px;
    }

    footer {
        padding: 1rem;
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}