@media only screen and (max-width: 32.5em) {
    
    main {
        grid-template-columns: 100%;
    }

    .first {
        margin: 20px;
    }

    .second {
        grid-column: 1;
        margin: 20px;
    }

    .third {
        grid-column: 1;
        margin: 20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    footer {
        padding: 0.8rem;
    }
}