@media only screen and (min-width: 60em) {
    /* nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    } */

    nav a {
		font-size: 1.1rem;
	}

    nav a:hover {
        --d: 75%;
    }

    

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        font-size: 1.5rem;
    }

    .purpose {
        grid-column: 1;
        text-align: center;
        justify-content: center;
    }

    p, section h2 {
        font-size: 1rem;
    }

    .corp {
        grid-column: 2;
        max-width: 400px;
        max-height: 400px;
        justify-content: center;
    }

    .corp img {
        border-radius: 5px;
    }

    .personas {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .description {
        border-radius: 5px;
        margin: 50px;
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
    }

    .first-p {
        border-radius: 5px;
        margin: 50px;
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
    }

    .second-p {
        border-radius: 5px;
        margin: 50px;
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
    }

    .scenarios {
        border-radius: 5px;
        margin: 50px;
        box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.83);
    }

    footer {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    header h1 {
        font-size: 1.7rem;
    }

    header {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    main section {
        margin: 50px;
    }

}