@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Montserrat:ital,wght@1,300&family=Noto+Sans&family=Nunito:wght@500&family=PT+Sans:ital@1&display=swap");

body {
  font-size: 18px;
  line-height: 1.2;
}

header,
main,
footer {
  margin: 1.25rem auto;
  max-width: 700px;
}

header {
  background-color: skyblue;
  color: whitesmoke;
  padding: 1.5rem;
  /* margin-bottom: 50px; */
  font-family: "Cabin", sans-serif;
  text-align: center;
  
}

header img {
  height: 150px;
  align-items: center;
  border-radius: 10px;
}

h1 {
  font-size: 1.5rem;
  margin: 0.15rem;
}

h2 {
  font-size: 1rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  font-family: "Nunito", sans-serif;
}

li {
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 4px;
}

footer {
  background-color: skyblue;
  color: whitesmoke;
  margin-top: 50px;
  padding: 1rem;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
}

.text h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-shadow: none;
  font-size: 0.8rem;
}


footer p:nth-last-of-type(1) {
    color: yellow;
}